#BACKGROUND {
    height: 600px;
    width: 600px;
    background-color: grey;
    display: inline-block;
}
#left-box{
    display: inline-block;
}
.box-1{
    background-color: white;
    width:150px;
    height: 20%;
    border: 10px grey solid;
}
.box-2{
    background-color: white;
    width:150px;
    height: 30%;
    border: 10px grey solid;
}
.box-3{
    background-color: red;
    width:400px;
    height: 60%;
    border: 10px grey solid;
    display: inline-block;
}
.box-4{
    display: inline-block;
    background-color: blue;
    height: 150px;
    width: 150px;
    margin: 10px;
}
.box-5{
    background-color: white;
    width:55%;
    height: 150px;
    display: inline-block;
    margin: 10px;
}
#div-6{
    display: inline-block;
    margin: 5px;
}
.box-7{
    background-color: yellow;
    width: 8%;
    height:61px;
    margin:10px;
}
.box-8{
    display: inline-block;
    background-color: white;
    width: 8%;
    height:61px;
    margin:10px;
}