.main-container{
    margin:auto;
}
.nav-bar{
    box-sizing: border-box;
    background-color: cyan;
}
nav, .search-div {
    display: inline-block;
}

nav {
    width: 40%;
    margin-left: 35%;
}

li {
    display: inline-block;
}
.main-container{
    margin:10px;
    border-top: white solid;
    background-color: darkmagenta;
}
.image{
    width:20%;
    height:;
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 20px;
    margin-left: 20px;
}
.paragraph{
    color: white;
    font-size: 23px;
    margin-right: 20px;
    font-family: ' comic sans ms';
    margin-left: 30px;;
    width: 70%;
    display: inline-block;
}
.paragraph2{
    color:white;
    font-size: 23px;
    margin-left: 20px;
    margin-right: 20px;

}