#img{
    display: inline-block;
}
.company-name{
    margin: auto;
    display: inline-block;
    width: 30%;
    font-size:100px ;
    font-family: open-sans;
}
.section-1{
    height:100px;
    width:100%;
}
.side-left{
    display: inline-block;
    height:500px;
    width: 30%;
}
.side-right{
    display: inline-block;
    height:500px;
    width:59%
}
.company-logo{
    margin: auto;
    width:100px;
    height:100px;
}
.background{
    background-color: gainsboro;
}
.About{
    display: inline-block;
    width: 60%;
}
.image{
    display: inline-block;
    width: 39%;
}
#footer {
    font-size: 20px;
    color: green;
}