.head{
    background-color: skyblue;
    width:100%;
    height:100px;
}
.heading-1{
    font: 100px;
}
.left-box{
    height:400px;
    width:70%;
    background-color: lightgreen;
    display:inline-block;
    position: relative;
}
.right-box{
    display: inline-block;
    height: 400px;
    width:29.7%;
    background-color: blueviolet;
}
h2{
    font-size: 40px;
}
.heading-1, .heading-4{
    font-size: 40px;
    margin: 20px;
}
.left-box-1, .left-box-2{
    display: inline-block;
    background-color: white;
    height: 165px;
    width: 95%;
    margin:20px;
    margin-bottom: 20px;
    position: absolute;
}
p{
    margin:20px;
}
.left-box-2{
    margin-top: 200px;
}