* {
    box-sizing: border-box;
}
.header{
    width:100%;
    height: 50px;
    background-color: #c0c0c0;
    border: 2px solid black;
    margin: 0px;
}
.header>h2{
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    margin:0;
    margin-left: 15%;
}
.container{
    width:100%;
    height:900px;
    background-color: #D3D3D3;
    border: 2px solid black;
}
.nav-blocks{
    display: inline-block;
    background-color: white;
    margin-left: 20%;
}
.nav-blocks>nav>ul{
    margin:0;
    padding: 0%;
}
.nav-blocks>nav>ul>li{
    border: 1px solid black;
    font-size: 25px;
}
li{
    display: inline-block;
}
.log-in{
    display: inline-block;
    margin-left: 20px;
    padding: 5px;
}
.box-1{
    display: inline-block;
    width:90%;
    height: 250px;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 5%;
    padding-left: 250px;
    padding-right: 250px;
}
.box-2{
    width:85%;
    background-color: white;
    height:600px;
    border: 2px solid black;
    margin-left:7%;
    margin-top:10px;
    margin-bottom: 10px;
    position: relative;
}
.left-box{
    display:inline-block;
    position: absolute;
    width:70%;
    height:100%;
    border: 1px solid black;
    padding:10px;
}
.right-box{
    display:inline-block;
    position: absolute;
    margin-left:70%;
    width:29%;
    height:100%;
    padding: 10px;
}
.right-box{
    text-align: center;
}
.tour-list{
    font-size: 20px;
    text-align: left;
}
.service-provided{
    display: inline-block;
}
.past-tour>a{
    display: block;
    font-size: 20px;
    text-align: left;
    padding-left: 5px;
}
.contact{
    width: 80%;
    height:60px;
    border: 1px solid black;
    background-color: black;
    margin-left: 10%;
}
.contact>h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: wheat;
    font-size: 20px;
}
.past-tour{
    display: block;
    margin: auto;
    width:80%;
    height:15%;
    border: 3px solid black;
}
.services, .services-provided, .services-image, h3, .last-line>ul {
    display: inline-block;
}
.services-image{
    widows: 80px;
    height: 80px;
}
.left-box>h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
}
.services-provided{
    width:45%;
    height:30%;
}
.services-paragraph{
    display: inline-block;
    width: 65%;
    height:10%;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 20;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
footer{
    border: 2px solid black;
    width:100%;
    height: 250px;
    padding-left: 50px;
    padding-right: 50px;
}
.footer-heading{
    padding-top: 10px;
    padding-left: 10px;
    display: inline-block;
    width: 24%;
    height:150px;
    margin:4px;
}
.social-media-image{
    height:30px;
    width: 30px;
}
.footer-heading>ul>li{
    display: block;
}
button{
    margin-left: 55%;
    border-radius: 45px;
}
.footer-heading>ul{
    padding:0;
    margin:0;
}