fieldset{
    width: 60%;
    height: 600px;
    border: black solid 2px;
    margin: auto;
    /*background-image: url("background.jpg");*/
}
h1{
    font-size: 100 px;
    margin-left: 40%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
label, span{
    width: 48%;
    display: inline-block;
    text-align: right;
}
.form{
    padding: 10px;
    font-size: 20px;
}
.submit{
    margin-left: 60%;
}
